.bgimgteam {
  background-image: url("../Assets/Group183.png");
  height: 140vh;
}
.teamheading {
  text-align: center;
  color: #fff;
  padding-top: 2rem;
}
.charimg8 {
  height: 13rem;
}
.teamintro {
  width: 753px;
  height: 87px;
  font: normal normal 300 20px/32px Gilroy;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: justify;
}
.socialicon {
  margin-right: 1rem;
}
.teamintro1 {
  width: 753px;
  height: 87px;
  /* UI Properties */
  text-align: left;
  font: normal normal 300 20px/32px Gilroy;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
